server:
  port: 8081


spring:
  application:
    name: ADMIN-PORTAL
  datasource:
    url: jdbc:postgresql://localhost:5432/onlineshop
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true