server:
  port: 9090
  servlet:
    context-path: /javabackend


spring:
  application:
    name: javabackend
  datasource:
    url: jdbc:postgresql://localhost:5432/onlineshop
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true